<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771555269247-fhqp72ged9j90n698aio2cf1m40j62j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771555269247-fhqp72ged9j90n698aio2cf1m40j62j1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771555269247-q30qp28vol072fehnp98m68045rq6nuo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDvpjrlOOCXYZnf00Wq4n2z0Faa602RXo</string>
	<key>GCM_SENDER_ID</key>
	<string>771555269247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orquestapp</string>
	<key>PROJECT_ID</key>
	<string>orquestapp-aeff5</string>
	<key>STORAGE_BUCKET</key>
	<string>orquestapp-aeff5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771555269247:ios:c50046fbd928987c0ffd4a</string>
</dict>
</plist>